@* @model IEnumerable<LabProject.Models.Samples> *@
    @model LabProject.ViewModels.VMPostSamples
    @using Newtonsoft.Json
@{
    // 檢查使用者的登入狀態
    var Manager = Context.Session.GetString("Manager");
    var currentPath = Context.Request.Path;
    var userRoleSession = Context.Session.GetString("UserRole");
    var userRole = userRoleSession != null ? JsonConvert.DeserializeObject<int>(userRoleSession) : (int?)null;

    // 如果未登入且當前頁面不是 Home/Index，則導回首頁
    if (Manager == null && currentPath != "/Home/Index")
    {
        Context.Response.Redirect("/Home/Index");
        return; // 確保不再執行後續代碼
    }

    ViewData["Title"] = "樣本";
}
<div class="bg-img-main">
    <div class="container">
        <div class="text-end py-3">
            @if (userRole != 1)
            {
                <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#ReSampleFormOffcanvas" aria-controls="staticBackdrop">
                    新增@(ViewData["Title"])資料
                </button>
            }
        </div>
        <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="ReSampleFormOffcanvas" aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div id="ReSampleForm">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2 list-group">
                @foreach (var item in Model.Sampletype)
                {
                    <a asp-action="Index" asp-route-typeid="@item.TypeID" class="list-group-item list-group-item-light list-group-item-action text-center fs-5 fw-bold mt-1 rounded border border-1 border-dark">@item.TypeName</a>
                }
                @if (userRole != 1)
                {
                    <div id="createSampleType" class="mt-1"></div>
                }
            </div>
            <div class="col-md-10">
                <h1 class="text-center alert alert-primary">
                    <span class="@(ViewBag.TypeName == "Virus" ? "text-danger" : "text-primary")"> @ViewData["TypeName"]</span>
                </h1>
                @if (Model.Sample.Count() == 0)
                {
                    <h2 class="text-danger">目前尚無任何 @ViewData["Title"] 資料</h2>
                }
                else
                {
                    <table class="table table-striped table-hover border border-1 border-dark">
                        <thead class="table-bordered table-darkblue text-center fw-bold">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sample.FirstOrDefault().SampleName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sample.FirstOrDefault().Species)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sample.FirstOrDefault().Genotype)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sample.FirstOrDefault().Serotype)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sample.FirstOrDefault().Quantity)
                                </th>
                                <th>詳細資料</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var item in Model.Sample)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SampleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Species)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Genotype)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Serotype)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.SampleID" class="btn btn-secondary"><i class="bi bi-book"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        var currentTypeId = '@ViewData["TypeID"]';
        $('#ReSampleForm').load(`/PostSamples/Create?typeid=${currentTypeId}`, function () {
            // 手動啟用表單驗證
            $.validator.unobtrusive.parse($('#ReSampleForm'));
        });

        $('#createSampleType').load(`/PostSamples/SampleTypeCreate`, function () {

            $.validator.unobtrusive.parse($('#createSampleType'));
        });
    </script>
}