@model LabProject.Models.Samples

@{
    ViewData["Title"] = Model.SampleName;
    Layout = "_Layout";
}

<h3 class="alert alert-danger text-center text-danger"><strong>確定要刪除 @Html.DisplayFor(model => model.SampleName) 所有資料嗎?</strong></h3>
<div class="card shadow">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SampleType.TypeID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SampleType.TypeName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SampleName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SampleName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Species)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Species)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genotype)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genotype)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Serotype)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Serotype)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity) 管
            </dd>
            <dt class="col-sm-2">
                存放位置 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Refrigerator) 冰箱，第 @Html.DisplayFor(model => model.Level) 層，第 @Html.DisplayFor(model => model.Shelf) 架，第 @Html.DisplayFor(model => model.Box) 盒
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BoxName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BoxName)
            </dd>

        </dl>
    </div>
    <div class="card-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="SampleID" />
            <input type="submit" value="確定刪除" class="btn btn-danger" onclick="return confirm('請注意!!您將會刪除該樣本所有資料，且無法回復。確定要刪除嗎?')" />
        </form>
    </div>
</div>

@await Component.InvokeAsync("VCSampleRecord", new { Sid = Model.SampleID })
<div class="text-end">
    <a asp-action="Index">返回樣本管理主畫面</a>
</div>